[submodule "shell/zsh/.oh-my-zsh"]
	path = shell/zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git

[submodule "neovim-dotfiles"]
	path = nvim
	url = https://github.com/phamlehuy53/neovim-dotfiles.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/phamlehuy53/.tmux

[submodule "jarvim"]
	path = jarvim
	url = https://github.com/phamlehuy53/jarvim
[submodule "shell/zsh/powerlevel10k/gitstatus"]
	path = shell/zsh/powerlevel10k/gitstatus
	url = https://github.com/romkatv/gitstatus
